@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

.navbar-brand {
  font-family: "Teko", sans-serif;
  font-size: 35px;
}

.font-teko {
  font-family: "Teko", sans-serif;
}

.font-time {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.font-Staatliches {
  font-family: "Staatliches", cursive;
}

.font-robota {
  font-family: "Roboto", sans-serif;
}

.font-germania {
  font-family: "Teko", sans-serif;
  font-size: 42px;
}

/* Navbar */

.tophead {
  width: 100%;
  height: 15vh;
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.menu-lines {
  font-size: 35px;
  cursor: pointer;
  margin-right: 30px;
}

.mySideNav {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 0;
  background: #272634;
  overflow-x: hidden;
  height: 100vh !important ;
  width: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Teko", sans-serif;
  transition: all 0.5s;
}

.closebtn {
  position: absolute;
  top: 25px;
  right: 25px;
}

.mySideNav ul li {
  list-style: none;
}

.mySideNav ul li a {
  color: white;
  font-size: 30px;
}

#skill-section {
  padding-top: 15vh;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: #fdfaec;
}

p {
  font-family: "Roboto", sans-serif;
}

#about-container p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.card img {
  height: 100px;
  width: 100px;
  text-align: center;
}

#service-container .card:hover {
  height: 103%;
  width: 103%;
  z-index: 10;
}

.img-logo {
  opacity: 1;
}

#home-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  color: white;
  padding-left: 0px;
  padding-right: 0px;

  /* Add Image Here */
  background-image: url(../images/cyberSecurity4.png);
  background-size: cover;
}

#home-container .row {
  height: 100vh !important;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgba(78, 71, 71, 0.8);
}

#home-container h3 {
  font-size: 35px;
}

#work-container {
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  min-height: 85vh;
  align-items: center;
  background-color: #fdfaec;
}

#contact-container {
  padding-top: 15vh;
  min-height: 100vh;
  align-items: center;
  background-color: #fdfaec;
}

#work-container img {
  opacity: 0.7;
}

#work-container img:hover {
  opacity: 1;
}

#service-container {
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  align-self: auto;
  min-height: 85vh;
  align-items: center;
}

#about-container {
  padding-top: 15vh;
  min-height: 100vh;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  #skills-section .row {
    display: flex;
    flex-direction: row;
    padding: 10px !important;
  }

  .card:hover {
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  .img-logo {
    opacity: 1;
  }

  .tophead {
    background-color: #fff;
  }

  .follow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
  }

  .follow a {
    margin-bottom: 10px;
  }

  .row .card {
    margin: 0px !important;
  }

  iframe {
    width: 100%;
    margin-bottom: 10px;
  }

  #contact-container .contact {
    font-size: 25px;
  }

  #home-container {
    color: black;
  }

  #home-container .row {
    background: rgba(216, 207, 207, 0.8);
  }

  #home-container h3 {
    text-align: unset;
    font-size: 30px;
  }

  #home-container h1 {
    font-size: 55px;
  }

  .column2 {
    padding-top: 30px !important;
  }

  #about-container .col-md-7 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  #contact-container .col-md-5 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
